---
import Layout from '../layouts/Layout.astro';
---

<Layout title="My Amazing Page">
	<main class="text-center my-3">
		<h1 class="font-bold text-6xl text-teal-600">Isn't it amazing?</h1>
	</main>
</Layout>