<section
  class="relative h-screen w-full lg:min-h-[600px] md:-mt-[115px] min-h-[500px] food-banner"
>
  <div class="swiper-food">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="relative max-w-7xl mx-auto md:flex md:flex-row md:gap-16 pt-10"
          >
            <div class="heading-food">
              <h1>
                Make Your Food Venture a Delicacy with Open Source Modern ERP
                Solution!
              </h1>
              <button
                type="button"
                class="btn ml-2 py-2.5 px-5.5 md:px-6 pt-10 font-semibold shadow-none text-sm header-btn food-btn"
                data-bs-toggle="modal"
                data-bs-target="#contactUs"
              >
                Get Started
              </button>
            </div>
          </div>
          <div class="image-food">
            <img
              src="/assets/images/food-swiper1.webp"
              alt="food-slide1"
              class="food-swipe1"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="relative max-w-7xl mx-auto md:flex md:flex-row md:gap-16 pt-10"
          >
            <div class="heading-food">
              <h1>
                Make Your Food Venture a Delicacy with Open Source Modern ERP
                Solution!
              </h1>
              <button
                type="button"
                class="btn ml-2 py-2.5 px-5.5 md:px-6 pt-10 font-semibold shadow-none text-sm header-btn food-btn"
                data-bs-toggle="modal"
                data-bs-target="#contactUs"
              >
                Get Started
              </button>
            </div>
          </div>
          <div class="image-food">
            <img
              src="/assets/images/food-swiper1.webp"
              alt="food-slide1"
              class="food-swipe1"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="relative max-w-7xl mx-auto md:flex md:flex-row md:gap-16 pt-10"
          >
            <div class="heading-food">
              <h1>
                Make Your Food Venture a Delicacy with Open Source Modern ERP
                Solution!
              </h1>
              <button
                type="button"
                class="btn ml-2 py-2.5 px-5.5 md:px-6 pt-10 font-semibold shadow-none text-sm header-btn food-btn"
                data-bs-toggle="modal"
                data-bs-target="#contactUs"
              >
                Get Started
              </button>
            </div>
          </div>
          <div class="image-food">
            <img
              src="/assets/images/food-swiper1.webp"
              alt="food-slide1"
              class="food-swipe1"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="relative max-w-7xl mx-auto md:flex md:flex-row md:gap-16 pt-10"
          >
            <div class="heading-food">
              <h1>
                Make Your Food Venture a Delicacy with Open Source Modern ERP
                Solution!
              </h1>
              <button
                type="button"
                class="btn ml-2 py-2.5 px-5.5 md:px-6 pt-10 font-semibold shadow-none text-sm header-btn food-btn"
                data-bs-toggle="modal"
                data-bs-target="#contactUs"
              >
                Get Started
              </button>
            </div>
          </div>
          <div class="image-food">
            <img
              src="/assets/images/food-swiper1.webp"
              alt="food-slide1"
              class="food-swipe1"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination food-banner-slider"></div>
    </div>
  </div>
</section>

<script is:inline>
  new Swiper(".mySwiper", {
    //   autoplay: {
    //   delay: 2000,
    // },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
