---
interface Item {
  name: string;
  value: string;
  content?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  content?: string;
  highlight?: string;
  items?: Array<Item>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  highlight,
  items = [],
} = Astro.props;
---
<section class="relative food-last-bg"> 
<div class=" relative max-w-7xl mx-auto md:gap-16">
  {
    (title || subtitle || highlight) && (
      <div class="mt-10 md:mt-0 md:basis-1/2 text-center">
        {highlight && (
          <p class="text-base text-primary font-semibold tracking-wide uppercase ">
            {highlight}
          </p>
        )}
        {title && (
          <h2
            class="font-bold leading-none tracking-tight sm:text-4xl font-heading  food-last-heading"
            set:html={title}
          />
        )}
        {subtitle && (
          <p class=" text-l pb-8 text-center food-last-para pt-6" set:html={subtitle} />
        )}
        {content && (
          <button class=" text-l pb-8 btn ml-2 py-2.5 px-5.5 md:px-6 pt-10 mt-0 font-semibold shadow-none text-sm header-btn food-btn" set:html={content} />
          
        )}
      </div>
    )
  }
</div>
</section>