---
import { Modal } from 'accessible-astro-components' 
--- 

  
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="contactUsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactUsLabel">Contact Us</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"> </button>
      </div>
      <div class="modal-body">
        <div class="relative">  
          <script>     
              hbspt.forms.create({
                region: "na1",
                portalId: "6967036",
                formId: "334af6bc-1d02-49eb-84e4-7e1e9294df65",
                target:  "#hubspotFormContact"
              }); 
    
          </script>                
          <div id="hubspotFormContact"> </div>
       </div>         
      </div> 
    </div>
  </div>
</div>

<div class="modal fade" id="bookConsultaion" tabindex="-1" role="dialog" aria-labelledby="bookConsultaionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookConsultaionLabel">Book a Free Consultation</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"> </button>
      </div>
      <div class="modal-body">        
        <div class="relative">  
          <script>     
              hbspt.forms.create({
                region: "na1",
                portalId: "6967036",
                formId: "334af6bc-1d02-49eb-84e4-7e1e9294df65",
                target:  "#hubspotFormBook"
              }); 
    
          </script>                
          <div id="hubspotFormBook"> </div>
      </div>
      </div> 
    </div>
  </div>
</div>